@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
    font-family: 'Bebas Neue', cursive;

}
body{
    height:150vh;
    width:100%;
}
main{
    width:100%;
    height:90%;
    display: grid;
    grid-template:1fr 1fr / 2fr 1fr;
    grid-template-areas: 
        'about things'
        'quiz things '
    ;
}

header{
    height:10%;
    width:100%;
    background: black;
}

#aboult-us{
    grid-area: about;
}
#what-is{
    display:flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
    
    height:100%;
    
    border:1px solid black;
}

#poke-quiz{
    grid-area:quiz;
    
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:1rem;
    
    border:1px solid black;

}
#quiz{
    width:100%;
}
#quiz #type-hints{

}#quiz #type-hints{
    display:flex;
    justify-content: center;
}

#quiz #quiz-options img{
    width:6rem;
    height:6rem;
    border-radius:4rem;
}
#quiz #quiz-options .right{
    background: rgb(213, 126, 221);
    transform:translate(-1rem, -2rem);
    transition: transform .7s;
}
#poke-things{
    grid-area:things;
    border:1px solid black;
}